.sigin-director {
  max-width: 500px;
  margin: 50px auto 0;
}
.form-curriculum-gsy-class {
  margin-top: 20px;
}
.curriculum-table-wrapper {
  padding: 0px 35px;
}
.add-residentform-wrapper form {
  max-width: 500px;
  margin: 30px 0px;
}
.table-curriculum-builder table tr th {
	font-family: 'OpenSans-CondBold';
	font-size: 18px!important;
}
.curriculum-builder-wrapper, .add-resident-wrapper, .user-heading, .create-practice-box {
	margin-top: 40px;
}
.assign-resident-wrapper .select2-container,
.assign-resident-wrapper .select2-search__field {
	width: 100%!important;
}
.practicesuccess-alert {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 20px 10px;
  display: none;
  font-weight: bold;
}
.search-container .form-search input {
	margin: 0px 5px 20px 0px;
}
.search-container .form-search label {
	vertical-align: top;
	margin-top: 7px;
}
.form-search-details {
	display: inline-block;
}
.create-practice-box {
	padding: 0px;
}
#viewUserModel, #editUserModel, #deleteUser {
	color: #4c6a92;
	cursor: pointer;
}
#viewUserModel, #editUserModel {
	border-right: solid 1px #ABA8A8;
	padding-right: 5px;
}
#userView .modal-header, #userEdit .modal-header,
#addRowModal .modal-header {
	background-color: #4c6a92;
  color: #fff;
}
#addRowModal .modal-header h3 {
	margin: 0px;
}
#userView .close, #userEdit .close{
	color: #fff;
}
.userdetails-label, #addRowModal .form-search-details label {
	min-width: 120px;
}
.userdetails-closebutton, .userdetails-closebutton:hover, #addRowModal .search-button {
	background-color: #4c6a92;
	color: #fff;
	border: none;
}
#userView .modal-footer, #userEdit .modal-footer, #addRowModal .modal-footer {
	border: none;
}
#addRowModal .form-search-details input {
	width: 70%;
}
#addRowModal .form-search-details {
	width: 100%;
	text-align: left;
}
#addRowModal .search-button {
	margin-top: 0px;
}
#addRowModal .resident-image-col {
	background-color: #ebebeb;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}
#addRowModal .resident-image-col .checkbox {
  vertical-align: top;
  margin-top: 10px;
  display: inline-block;
}