@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('../fonts/OpenSans-CondBold/OpenSans-CondBold.eot');
    src: url('../fonts/OpenSans-CondBold/OpenSans-CondBold.woff')
        format('woff'), url('../fonts/OpenSans-CondBold/OpenSans-CondBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('../fonts/OpenSans-CondBold/OpenSans-CondBold.eot');
    src: url('../fonts/OpenSans-CondBold/OpenSans-CondensedBold.woff')
        format('woff'), url('../fonts/OpenSans-CondBold/OpenSans-CondensedBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/font/fontello.eot?72973542');
  src: url('../fonts/font/fontello.eot?72973542#iefix') format('embedded-opentype'),
       url('../fonts/font/fontello.woff?72973542') format('woff'),
       url('../fonts/font/fontello.ttf?72973542') format('truetype'),
       url('../fonts/font/fontello.svg?72973542#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.user-wrapper {
  position: relative;
  padding-top: 25px;
  margin-top: 25px;
}
.dt-buttons a {
  padding: 5px 20px;
  background-color: #4c6a92;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.dt-buttons a:after {

}
#userTable_wrapper {
	text-align: right;
}
#userTable {
	margin-top: 100px;
}
.fa-refresh:before {
  content: '';
}
#userTable.dataTable thead .sorting_asc:after {
  content: "\25BC";
  font-size: 11px;
  color: #4c6a92;
  position: absolute;
  top: 8px;
  opacity: 1;
}
#userTable.dataTable thead .sorting_desc:after {
  content: "\25B2";
  font-size: 11px;
  color: #4c6a92;
  position: absolute;
  top: 8px;
  opacity: 1;
}
#userTable.dataTable thead .sorting:after, #userTable.dataTable thead .sorting_asc i, #userTable.dataTable thead .sorting_desc i {
  display: none
}
.dt-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.dataTables_length, #userTable_filter, .addbuttons {
	display: inline-block;
	margin-top: 10px;
}
#userTable_filter {
	margin-left: 10px;
}
#userTable td {
	text-align: left;
}
.addbuttons {
	float: right;
}
#userTable tbody tr td:last-child a {
    color: #1e91be;
    border-right: solid 1px #BBB7B7;
    padding-right: 6px;
}
#userTable td:last-child a:last-child {
  border-right: none;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  font-size: 15px;
  font-weight: 600;
}
.dataTables_info {
	display: none;
}
.addbuttons div {
	padding: 8px 20px;
  background-color: #4c6a92;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.addbuttons div:before {
  padding-right: 4px;
  color: #fff;
  cursor: pointer;
}
.actions a {
	padding-right: 10px;
}
#userTable th i {
	float: right;
	font-size: 14px;
	margin-top: 3px;
}
#userTable th {
	padding-right: 5px;
	cursor: pointer;
}
#userTable th:last-child {
	cursor: default;
}
.user-heading {
 	font-size: 27px;
  color: #000000;
  font-weight: 900;
  padding-bottom: 5px;
 }

 /***notification****/
.notification-wrapper {
  width: 100%;
  float: left;
  margin-top: 40px;
  border: solid 1px #ADADAD;
}
.notification-header {
  background-color: #3787D9;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.notification-deleteall {
  margin-top: 20px;
  background-color: #3787d9;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
.notification-details {
  padding: 20px 10px;
}
.notificationdetails-wrapper {
  padding: 30px 5px 20px 10px;
  border-bottom: solid 1px #DADADA;
  width: 100%;
  float: left;
}
.delete-notification, .delete-notification:hover {
  float: left;
  width: 100%;
  color: #757373;
  text-decoration: none;
}
.notificationdetails-wrapper:last-child {
  border: none;
}
.deleteall-wrapper {
  text-align: center;
}
.notificationdetails-content {
  color: #3787D9;
  font-size: 15px;
  font-weight: 600;
  padding: 0px 10px 15px 0px;
  white-space: pre-wrap;
  word-break: break-word;
}
.notificationdetails-time {
  color: #757373;
}
.notificationdetails-time .glyphicon-time {
  padding-right: 5px;
}
/*-----------Director homepage-------------*/
.home-buttons:hover {
  text-decoration: none;
}
.announcement-cnt {
  float: left;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  padding: 0;
  margin: 0px;
  min-height: 350px;
  overflow: hidden;
}
.announce-inner-wrapper {
    display: block;
    width: 100%;
  overflow-x: hidden;
    overflow-y: auto;
}
.director-dashboard .chartchoose.chartchooseNew {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.director-dashboard .oveScore1, .director-dashboard .oveScore1 svg, .director-dashboard .highcharts-container,
.director-dashboard #overall_score_chart{
  max-height: 340px;
}
.dashboard-left-wrapper .btn-dashboard {
  font-size: 1em;
  text-transform: none;
  white-space: normal;
    word-wrap: break-word;
}
.btn-dashboard {
  padding: 0px;
}
.btn-dashboard a {
  padding: 10px 5px;
  color: #fff;
  text-decoration: none;
}
.btn-view-more-opt {
  display: block;
  margin: 0;
}
.dashboard-left-wrapper label {
  text-align: left;
  padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    float: left;
    width: 100%;
}
.dashboard-left-wrapper .legend_text {
  font-weight: 400;
    font-size: 16px;
}
.dashboard-left-wrapper .legend_text .result-tooltip {
  font-size: 22px !important;
}
.year-wrapper,
.overall-correct-responses {
  float: left;
  width: 100%;
}
.select-graduate-year,
.post-grad-year {
  float: left;
  width: 100%;
}
.select-graduate-year .form-group {
  margin: 0;
}
.residents-number {
  font-size: 30px;
    font-weight: 600;
}
hr {
  border-color: #000;
}
.assignments-table td a {
  padding: 0 10px;
  text-decoration: underline;
}
.btn.btn-filter span.glyphicon {
  opacity: 1;
}
.btn-filter,
.btn-filter:active,
.btn-filter:focus,
.btn-filter:hover,
.btn-filter:active:focus,
.btn-filter:active:hover {
  background: none;
    border: none;
    outline: none;
}
.filterable {
    margin-top: 15px;
    border: none;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.filterable .checkbox {
  margin-top: 0;
}
.performance-metrics {
  font-weight: 600;
}
.filterable .panel-heading {
    width: 100%;
    background: #F5F5F5;;
    color: #3E3E3E;
    border: none;
}
.filterable table .more-table, .filterable table .more-table:hover {
    color: #000;
    background-color: #D0D0D0;
    padding: 0px 5px;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: none;
}
.filterable .panel-footer {
    text-align: center;
    color: #4c6a92;
    background-color: #fff;
}
.filterable .panel-footer a, .filterable .panel-footer a:hover {
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4c6a92;
    border-radius: 0;
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}
.filterable .panel-title {
    width: 100%;
    text-align: left;
    font-size: 1.3em;
    margin: 5px 0;
}
.myprogress-link, .myprogress-link:hover {
  text-decoration: none;
  color: #1e91be;
}
.performance-metrics {
  border-bottom: solid 1px #4c6a92;
  color: #4c6a92;
  padding: 10px 5px;
  font-size: 20px;
  margin: 20px 0px 10px 0px!important;
}

/*-----End of director homepage-------*/
/*---------Curriculum Builder------------------*/
.curriculum-builder-wrapper h3 {
  font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    font-weight: 600;
}
.form-curriculum-gsy-class label {
  font-weight: normal;
    font-size: 16px;
    margin: 6px 0;
    padding-left: 0;
}
.form-curriculum-gsy-class .form-group {
  float: left;
  width: 100%;
}
.table-curriculum-builder {
  padding: 50px 0;
}
.btn-add-row {
  background: #4c6a92;
  border: 1px solid #4c6a92;
  box-shadow: none;
  outline: none;
  padding: 12px 16px;
}
.btn-add-row:hover,
.btn-add-row:active,
.btn-add-row:focus,
.btn-add-row:active:focus,
.btn-add-row:active:hover {
  background: #5576a3;
}
.btn-add-row i {
  color: #fff;
}
.table-curriculum-builder .table-bordered>tbody>tr>td,
.table-curriculum-builder .table-bordered>tbody>tr>th,
.table-curriculum-builder .table-bordered>tfoot>tr>td,
.table-curriculum-builder .table-bordered>tfoot>tr>th,
.table-curriculum-builder .table-bordered>thead>tr>td,
.table-curriculum-builder .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    padding: 16px 20px;
    font-size: 16px;
}
/*--------END OF CURRICULUM BUILDER--------------*/
/*------------------ADD RESIDENT-------------------*/
.add-resident-wrapper h3{
  font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    font-weight: 600;
}
.residents-container ul {
  padding: 10px;
  background: #edf3f7;
  list-style-type: none;
  float: left;
  width: 100%;
}
.residents-container ul li {
  padding: 10px;
  margin: 0;
}
.resident-info {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.resident-info table {
  width: 100%;
}
.resident-image-col{
  vertical-align: top;
}
.add-resident-col,
.resident-details-col {
  vertical-align: middle;
}
.resident-image-col,
.resident-image {
  width: 60px;
}
.resident-image img{
  border-radius: 5px;
}
.resident-details-col {
  padding-right: 10px;
  padding-left: 10px;
}
.resident-details h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
    font-size: 16px;
}
.resident-details .designation {
  color: #767676;
  font-size: 13px;
}
.add-resident-col {
  width: 50px;
  text-align: center;
}
.add-resident {
  font-size: 35px;
}
/*------------------END OF ADD RESIDENT-------------------*/
/***Progress page***/
#percentage-completed-graph svg, #unique-questions-graph svg,
#percentage-completed-graph .highcharts-container , #unique-questions-graph .highcharts-container {
    max-height: 280px!important;
    min-height: 280px!important;
}
#percentage-completed-graph , #unique-questions-graph  {
    max-height: 400px!important;
    min-height: 400px!important;
}
.myprogress-panelwrapper table tr {
  border-bottom: solid 1px #dadada;
}
.myprogress-panelwrapper table {
  width: 96%;
}
.uniqueH2 {
  margin-bottom: 30px;
}
/*------CREATE PRACTICE TEST---------------*/
.assign-resident-wrapper {
  padding: 0 0 50px 0;
}
.assign-resident-wrapper h4 {
  font-weight: 600;
}
.assign-resident-wrapper label {
  float: left;
  width: 100%;
}
/*----------ADDED ON AUGUST 31 2016------------------------*/
#linechartContainer .highcharts-legend, #linechartContainer .highcharts-title,
#linechartContainer .highcharts-yaxis-title {
  display: none;
}
.graph-section {
  margin-top: 20px;
}
.director-dashboard .oveScore1, .director-dashboard .oveScore1 svg,
.director-dashboard .highcharts-container,
.director-dashboard #overall_score_chart{
  max-height: 400px;
}
.first-chart-wrapper {
  padding-bottom: 0px;
}
.gauge-chart-wrapper, .line-chart-wrapper {
  padding: 0px;
}
.line-chart-title, .gauge-chart-title, .assigmnets-title, .announcement-title, .metrics-table .panel-title {
  background-color: #F5F5F5;
  margin: 0px;
  padding: 15px 22px;
  font-size: 21px;
  font-family: 'OpenSans-CondBold';
}
.gauge-chart-title {
  border-right: solid 1px #fff;
}
.line-chart-title {
  border-left: solid 1px #dedede;
}
.line-chart-wrapper svg {
  border-left: solid 1px #dedede;
}
.maingraph-wrapper, .graph-legend-wrapper, .sectionone-wrapper {
  border-bottom: solid 1px #dedede;
}
.graph-legend .sub_legend:nth-child(1) {
  margin-left: 0px;
}
.graph-legend .sub_legend {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 25%;
}
.graph-legend .green_legend {
  background-color: #81c609;
}
.graph-legend .legend-text {
  margin-top: 5px;
}
.legend_common {
  margin-right: 10px;
}
.gauge-chart-wrapper .center-number, .gauge-chart-wrapper .score-percent-symbol {
  color: #000!important;
}
.assigmnets-wrapper {
  padding: 0px;
}
.assignmnets-table {
  width: 100%;
}
.assignmnets-table thead, .assignmnets-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.assignmnets-table tbody {
  height: 260px;
  overflow-y: auto;
  display: block;
  width: 100%;
}
.graph-response-wrapper .sub_legend {
    vertical-align: top;
}
.assignmnets-table thead th, .assignmnets-table tbody td {
  padding: 20px 0px 10px;
  font-size: 15px;
  white-space: pre-wrap;
  word-break:break-word;
}
.assignmnets-table thead {
  border-bottom: solid 1px #dedede;
}
.assignmnets-tablewrapper {
  margin-left: 20px;
}
.assignmnets-table .myprogress-link, .assignmnets-table .myprogress-link:hover {
    text-decoration: none;
    color: #1e91be;
}
.assignmnets-table tbody tr td:nth-child(1) {
  width: 40%;
  min-width: 250px;
}
.assignmnets-table thead tr th:nth-child(1) {
  min-width: 250px;
}
.assignmnets-table tbody tr td {
  font-weight: 600;
}
.assignmnets-table tbody tr td:nth-child(2),
.assignmnets-table tbody tr td:nth-child(3),
.assignmnets-table tbody tr td:nth-child(4) {
  width: 20%;
  min-width: 100px;
}
.assignmnets-table thead tr th:nth-child(2),
.assignmnets-table thead tr th:nth-child(3),
.assignmnets-table thead tr th:nth-child(4) {
  width: 20%;
  min-width: 100px;
}
.assignmnets-table tbody tr {
  border-bottom: solid 2px #dedede;
}
.assignmnets-table tbody tr:last-child {
  border-bottom: none;
}
.announcement-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
.announcement-settings {
  color: #4c6a92;
}
.announcement-title {
  background: #F5F5F5;
  margin: 0;
  padding: 10px;
}
.announcement-date-wrapper {
  margin: 10px 0 0 0;
  font-size: 12px;
  color: #76838f;
}
.announcement-cnt .list-group {
  padding: 10px;
}
.announcement-cnt .list-group-item  {
  padding: 0
}
.announcement-cnt .list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px 0;
}
.announcement-description a {
  color: #000;
  font-weight: 600;
}
.metrics-table {
  padding: 0;
  margin: 0 0 15px 0;
}
.metrics-table .panel{
  margin: 0;
  background: transparent;
  box-shadow: none;
  border-left: 1px solid #dedede;
  border-radius: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.metrics-table:last-child .panel{
  border-right: 1px solid #dedede;
}
.metrics-table .table>thead>tr>th {
  white-space: nowrap;
  border-bottom: 1px solid #dedede;
}
.metrics-table .table>tbody>tr>td,
.metrics-table .panel-footer {
  border: none;
}
.metrics-table tbody tr td {
  font-weight: 600;
}
.metrics-table thead, .metrics-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.metrics-table tbody {
  max-height: 200px;
  overflow-y: auto;
  display: block;
  width: 100%;
  height: auto;
}
/*------------END OF ADDITION----------------*/
.dashboard-residents-count li {
    height: 100px;
    border-right: 1px solid #ddd;
}
.dashboard-residents-count li:last-child {
    border: none;
}
/*-----DASHBOARD MENU-----*/
.dashboard-menu-cnt {
  margin: 62px 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.5);
}
.dashboard-menu-cnt ul {
  list-style: none;
  margin: 0;
  float: left;
  width: 100%;
  padding: 0;
}
.dashboard-menu-cnt label {
  width: 100%;
  font-size: 20px;
  font-family: 'OpenSans-CondBold';
  font-weight: 400;
}
.dashboard-menu-options .list-group,
.dashboard-menu-options .list-group-item {
  width: 100%;
}
.dashboard-menu-options .list-group {
  float: right;
}
.dashboard-menu-options .list-group-item {
  margin: 0;
  float: left;
}
.dashboard-menu-options .list-group-item a {
    text-align: center;
    display: block;
    color: #000;
    float: left;
    width: 100%;
}
.dashboard-menu-options .list-group-item a img{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.dashboard-menu-options .list-group-item a:hover {
    opacity: 0.8;
}
.dashboard-menu-options .list-group-item .menu-icon {
    margin: 0 auto;
    display: block;
    height: 50px;
}
.dashboard-menu-options .list-group-item a span {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.rwd-break {
    display: none;
}
.dashboard-menu-options .more-options .menu-icon{
    position: relative;
}
.dashboard-menu-options .more-options .menu-icon img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.btn-dashboard-menu {
    padding: 10px;
    background-color: #4c6a92;
    border-radius: 0;
    color: #fff !important;
    font-size: 20px;
    outline: none;
    border: none;
}
@media (min-width: 768px) {
  .select-graduate-year select {
    width: 150px;
  }
  .dashboard-menu-options .list-group {
    display: block !important;
  }
  .dashboard-residents-count li {
    height: 100px;
  }
  .dashboard-menu-options .list-group-horizontal .list-group-item {
    margin: 0;
    border-radius: 0;
    padding: 2px;
    display: inline-block;
    border: none;
    border-left: 1px solid #ddd;
    width: 20%;
    max-width: 190px;
  }
  .dashboard-menu-options .list-group-horizontal .list-group-item:last-child {
    border-right: none;
  }
  .rwd-break {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-menu-options .list-group-horizontal .list-group-item {
    padding: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .dashboard-menu-options .list-group-horizontal .list-group-item:last-child {
    border-right: 1px solid #ddd;
  }
}
@media (min-width: 992px) and (max-width: 1368px) {
  .dashboard-menu-options .list-group-item a span {
    font-size: 12px;
  }
}
@media (max-width: 767px){
  .dashboard-menu-options .list-group {
    display: none;
  }
  .dashboard-menu-options .list-group-item {
    padding: 0;
  }
  .dashboard-menu-options .list-group-item a {
    padding: 10px;
  }
  .dashboard-menu-options .list-group-item .menu-icon {
    float: left;
    width: 25px;
  }
  .dashboard-menu-options .list-group-item a span {
    float: left;
    width: 85%;
    margin: 0;
    text-align: left;
    padding-left: 25px;
  }
  .dashboard-menu-options .list-group-item .menu-icon {
    height: 25px;
  }
  .dashboard-menu-options .more-options .menu-icon img {
    top: 35%;
  }
}
/*-----END OF DASHBOARD MENU-----*/
@media (max-width: 991px) {
  .announcement-cnt {
      min-height: 150px;
  }
  .dashboard-menu-options .list-group {
    margin: 0 0 20px 0;
  }
  .graph-response-wrapper, .announcement-wrapper {
    width: 100%;
  }
  .program-announcement, .acep-announcement {
    border-top: solid 1px #dedede;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }
  .list-group {
    padding-left: 22px!important;
  }
  .announcement-cnt {
      min-height: 150px;
  }
  .metrics-table {
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .notification-wrapper .col-xs-10 {
    width: 100%;
    margin-top: 50px;
    padding: 0px 5px;
  }
  .deleteall-wrapper {
    position: absolute;
    width: 88%;
    padding: 0px;
  }
  .notificationdetails-time {
    padding: 0px;
  }
}