.user-wrapper {
  position: relative;
  padding-top: 25px;
  margin-top: 25px;
}
.dt-buttons a {
  padding: 5px 20px;
  background-color: #4c6a92;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.dt-buttons a:after {

}
#userTable_wrapper {
	text-align: right;
}
#userTable {
	margin-top: 100px;
}
#userTable.dataTable thead .sorting_asc:after {
  content: "\25BC";
  font-size: 11px;
  color: #4c6a92;
  position: absolute;
  top: 8px;
  opacity: 1;
}
#userTable.dataTable thead .sorting_desc:after {
  content: "\25B2";
  font-size: 11px;
  color: #4c6a92;
  position: absolute;
  top: 8px;
  opacity: 1;
}
#userTable.dataTable thead .sorting:after, #userTable.dataTable thead .sorting_asc i, #userTable.dataTable thead .sorting_desc i {
  display: none
}
.dt-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.dataTables_length, #userTable_filter, .addbuttons {
	display: inline-block;
	margin-top: 10px;
}
#userTable_filter {
	margin-left: 10px;
}
#userTable td {
	text-align: left;
}
.addbuttons {
	float: right;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  font-size: 15px;
  font-weight: 600;
}
.dataTables_info {
	display: none;
}
.addbuttons div {
	word-spacing: -10px;
	padding: 8px 20px;
  background-color: #4c6a92;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
}
.addbuttons div:before {
  padding-right: 4px;
  color: #fff;
  cursor: pointer;
}
.actions a {
	padding-right: 10px;
}
#userTable th i {
	float: right;
	font-size: 14px;
	margin-top: 3px;
}
#userTable th {
	padding-right: 5px;
	cursor: pointer;
}
#userTable th:last-child {
	cursor: default;
}
.user-heading {
 	font-size: 27px;
  color: #000000;
  font-weight: 900;
  padding-bottom: 5px;
 }

 /***notification****/
.notification-wrapper {
  width: 100%;
  float: left;
  margin-top: 40px;
  border: solid 1px #ADADAD;
}
.notification-header {
  background-color: #3787D9;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.notification-deleteall {
  margin-top: 20px;
  background-color: #3787d9;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
.notification-details {
  padding: 20px 10px;
}
.notificationdetails-wrapper {
  padding: 30px 5px 20px 10px;
  border-bottom: solid 1px #DADADA;
  width: 100%;
  float: left;
}
.delete-notification {
  float: left;
  width: 100%;
}
.notificationdetails-wrapper:last-child {
  border: none;
}
.deleteall-wrapper {
  text-align: center;
}
.notificationdetails-content {
  color: #3787D9;
  font-size: 15px;
  font-weight: 600;
  padding: 0px 10px 15px 0px;
  white-space: pre-wrap;
  word-break: break-word;
}
.notificationdetails-time, .delete-notification {
  color: #757373;
}
.notificationdetails-time .glyphicon-time {
  padding-right: 5px;
}
@media (max-width: 600px) {
  .notification-wrapper .col-xs-10 {
    width: 100%;
    margin-top: 50px;
    padding: 0px 5px;
  }
  .deleteall-wrapper {
    position: absolute;
    width: 88%;
    padding: 0px;
  }
  .notificationdetails-time {
    padding: 0px;
  }

}